<h1>Редагувати інформацію про партнера</h1>

<%= form_for @partner do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Ім\'я' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email, 'Електронна пошта' %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :phone, 'Номер телефону' %>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>

  <%= f.submit 'Зберегти', class: 'btn btn-primary' %>
<% end %>